body {
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 4fr;
  justify-content: center;
  align-items: center;
  background-image: url('../imgs/doodles.png');
}

#container {
  display: flex;
  margin: 1%;
  border: solid rgb(136, 196, 67);
  background-color: rgba(195, 235, 149, 0.863);
}

/*header*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1 / 3;
  border: solid red;
  padding: 15px;
  gap: 5px;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3em;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

hr {
  width: 100%;
  color: red;
}

#project-button,
#todo-button {
  font-size: medium;
  font-weight: bold;
  border-radius: 30%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);
  background-color: rgba(195, 235, 149, 0.863);
  border: solid rgb(136, 196, 67);
}

button:hover {
  cursor: pointer;
}

/*projects*/
#project-container {
  margin: 0.5em;
  padding: 0.5em;
  border: solid rgb(136, 196, 67);
}

li {
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

li:hover {
  color: purple;
  cursor: pointer;
}

.project-delete {
  margin: 10px;
  padding: 5px;
  background-color: red;
}

.selected {
  background-color: rgb(136, 196, 67);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/*todos*/
#todo-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
  padding: 0.5em;
  border: solid rgb(136, 196, 67);
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  gap: 0.5em;
  border: dashed red;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.todo:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.todo-delete {
  align-self: flex-end;
  background-color: red;
}

h4:hover {
  color: purple;
  cursor: pointer;
}

.todo-priority-button {
  color: yellow;
}

.description {
  background-color: rgba(195, 235, 149, 0.863);
  border: solid rgb(136, 196, 67);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

/*forms*/
#form-div {
  margin: 0.5em;
  padding: 0.5em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.5em;
  gap: 0.5em;
  border: solid red;
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  font: bold italic 1.4em monospace;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
